<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        body{
            padding: 20px;
        }
    </style>
    <script src="./lib/vue.js"></script>
  </head>
  <body>
      
    <div id="app">
        <div>
            请输入姓:<input type="text" v-model="userFirstName">
        </div>
        <div>
            请输入名:<input type="text" v-model="userLastName">
        </div>
        <div>
            姓名为<input type="text" v-model="total()">
        </div>
    </div>
    <script>
      var vm = new Vue({
        el: "#app",
        data() {
          return {
            userFirstName:"",
            userLastName:"",
          };
        },
        methods: {
            total(){
                return  this.userFirstName + this.userLastName;
            }
        }
      });
    </script>
  </body>
</html>
